@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-brand-blue: #2D4CC8;
    --color-brand-dark: #1e3a8a;
    --color-brand-gray: #5A5A5A;
    --color-footer-bg: #E5E5E5;
    --color-input-bg: #F3F4F6;
    --color-placeholder-gray: #6B6B6B;

    --font-sans: 'Inter', sans-serif;
}
