@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-brand-blue: #172D9D;
    --color-brand-dark: #1e3a8a;
    --color-brand-gray: #5A5A5A;
    --color-footer-bg: #E5E5E5;
    --color-input-bg: #F3F4F6;
    --color-placeholder-gray: #6B6B6B;

    --font-sans: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::selection {
    background-color: #f3d0f2;
    color: #333;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
}


[x-cloak] {
    display: none !important;
}

@layer components {
    .skeleton {
        background: linear-gradient(90deg, #e5e7eb 25%, #d1d5db 50%, #e5e7eb 75%);
        background-size: 200% 100%;
        animation: skeleton-loading 1.5s infinite;
    }
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.img-loading {
    opacity: 0;
}

.img-loaded {
    opacity: 1;
}
